{% extends 'base.html.twig' %}

{% block title 'Valentin Antoin web developer' %}

{% block content %}

<section id="home">

    <figure>
        <img src="img/home.png">
    </figure>

    <div class="jumbotron border-warning">
        <h1 class="display-3">Valentin ANTOIN</h1>
        <p class="lead">Web developer junior</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#presentation" role="button"><i class="fas fa-arrow-circle-down fa-2x"></i></a>
        </p>
    </div>

</section>

<section class="presentation justify" id="presentation">

    <h2>Présentation rapide...</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque doloremque facere modi nemo quis sint ut vel.
        Atque culpa deserunt dolor earum impedit odio pariatur possimus rerum unde voluptatum. Ducimus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores deleniti expedita, inventore numquam
        veniam voluptas? Aperiam blanditiis cum est magni odit, quia similique vitae voluptate. Accusamus alias
        aspernatur ea earum expedita facere facilis id illum ipsum itaque laborum magnam mollitia necessitatibus neque
        nihil, officiis pariatur quam, reiciendis sapiente, soluta tempore ullam vitae? Inventore iste iusto
        necessitatibus tenetur! Aliquam dignissimos distinctio dolorem doloribus eos laborum magnam modi mollitia
        necessitatibus, nobis numquam obcaecati omnis praesentium quae quidem, tempora, tenetur veniam voluptatem.</p>

    <h3>Formation</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores beatae est fuga magni,
        necessitatibus nostrum soluta! Animi commodi consequatur ea eius excepturi illum maiores non praesentium
        provident quibusdam quisquam rem repellat sed sequi sit, tenetur unde vero? Expedita neque non quidem
        repudiandae voluptas? Magni necessitatibus porro praesentium? At cupiditate debitis deserunt doloribus fuga,
        illum ipsa itaque magni ullam voluptatem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus repudiandae tempora? Aperiam asperiores
        dolorem ea earum, eos eveniet expedita illo illum ipsam, molestiae mollitia nulla officia qui tenetur unde.</p>
    <p>Accusamus autem beatae consectetur consequatur deleniti dolores ducimus earum eius eligendi exercitationem illum
        ipsa ipsam minus mollitia natus nisi non, nostrum placeat quae repudiandae rerum sequi soluta veritatis vitae
        voluptatibus!</p>

    <figure>
        <img src="img/html5.png" alt="" class="logo">
        <img src="img/css3.png" alt="" class="logo">
        <img src="img/javascript.png" alt="" class="logo">
        <img src="img/bootstrap.png" alt="" class="logo">
        <img src="img/wordpress.png" alt="" class="logo">
    </figure>

    <figure>
        <img src="img/php.png" alt="" class="logo">
        <img src="img/symfony.png" alt="" class="logo">
        <img src="img/mysql.png" alt="" class="logo">


    </figure>


</section>

{% endblock %}
