{% extends 'base.html.twig' %}

{% block title 'Valentin Antoin web developer' %}

{% block content %}

    <section id="home">

        <figure>
            <img src="img/home.png" alt="Ecran avec du code">
        </figure>

        <div class="jumbotron border-warning">
            <h1 class="display-3">Valentin ANTOIN</h1>
            <p class="lead">Web developer junior</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#presentation" role="button"><i class="fas fa-arrow-circle-down fa-2x"></i></a>
            </p>
        </div>

    </section>

    <div class="home">

        <div class="card border-secondary mb-3" id="twitter">
            <div class="card-header">Flux d'actualités</div>
            {% for tweet in tweets %}
                <div class="card-body">
                    <p class="card-text">{{ tweet.text | autoLink | raw }}</p>
                    <p class="card-text"><small>Le {{ tweet.created_at | date("d/m/Y g:i") }}</small></p>
                </div>
            {% endfor %}
        </div>


        <section class="presentation justify" id="presentation">

            <h2>A propos</h2>

            <p>Bonjour je m'appelle Valentin ANTOIN. Après avoir accumulé diverses éxpériences professionnelles dans des
                domaines variés, j'ai décidé de me reconvertir dans le développement web. J'ai effectué une formation de
                développeur web chez OpenClassrooms durant laquelle j'ai réalisé différents projets que vous pouvez voir
                dans la section <a href="{{ path('projects') }}">portfolio</a> de ce site.</p>
            <p>Une curiosité naturelle, une veille technologique quotidienne et une polyvalence issue d’un parcours professionnel
                riche et varié sont les atouts que je souhaite à présent partager avec vous.</p>
            <p>Je vous souhaite donc la bienvenue sur ce site !</p>

            <h3>Formation</h3>

            <p>Après avoir commencé à me former au développement web en autodidacte, j'ai décidé d'appronfondir mes
                connaissances en rejoignant OpenClassRooms pour y suivre le parcours "développeur web junior".
                C'est cette formation qui me permet aujourd'hui non seulement d'avoir des bases solides dans les
                différents langages du web, mais également d'avoir acquis une autonomie certaine dans l'apprentisage.
                Ce qui, alliée à une veille technologique efficace, me donne l'opportunité de m'adapter rapidement et
                de progresser continuellement.
            </p>


            <figure>
                <img src="img/html5.png" alt="" class="logo">
                <img src="img/css3.png" alt="" class="logo">
                <img src="img/javascript.png" alt="" class="logo">
                <img src="img/bootstrap.png" alt="" class="logo">
            </figure>

            <figure>
                <img src="img/php.png" alt="" class="logo">
                <img src="img/wordpress.png" alt="" class="logo">
                <img src="img/symfony.png" alt="" class="logo">
                <img src="img/mysql.png" alt="" class="logo">
            </figure>

        </section>

    </div>

{% endblock %}