{% extends 'base.html.twig' %}

{% block title 'Modication du projet' %}

{% block meta %}

    <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>

{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block content %}

    <h1 class="pt">Modifier le projet</h1>

    <section class="form">

        {% for message in app.flashes('update') %}

            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form(form) }}

    </section>

{% endblock %}

{% block javascripts %}

    <script>
        CKEDITOR.replace( 'project[content]' );
    </script>


{% endblock %}